<!DOCTYPE html>
<html>
<head>
  <title>튜터링</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<div style="display: flex; gap: 10px; align-items: center;">
  <p><strong>Welcome, {{ username }}!</strong></p>   
  <form action="/logout">
    <button>로그아웃</button>
  </form>
</div>
<div style="display: flex; justify-content: center; gap: 10px; align-items: center;">

  <form action="/posts">
    <button>자유게시판</button>
  </form>
  <br>
    <img src="{{ url_for('static', filename='finger.png') }}" class="fingerman">
</div>
{% endblock %}
</body>
</html>