{% extends 'base.html' %}

{% block content %}
  <h2>자유게시판</h2>
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          <td>{{ post[0] }}</td>
          <td><a href="/posts/{{ post[0] }}">{{ post[1] }}</a></td>
          <td>{{ post[2] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <form action="/posts/new">
    <button type="submit">게시글 작성</button>
  </form>
  <br>
  <form action="/">
    <button>메인 화면으로</button>
  </form>
{% endblock %}