{% extends 'base.html' %}

{% block content %}
  <h2 class="title">{{ post[1] }}</h2>
  <br>
  <span class="writer">작성자: {{ post[3] }}</span>
  <pre class="main">{{ post[2] }}</pre>
  <a href="/posts/{{ post[0] }}/edit" class="btn-link">게시글 수정</a>
  <br>
  <a href="/posts/{{ post[0] }}/delete" class="btn-link">게시글 삭제</a>
<hr>
<h3>댓글</h3>
<ul>
    {% for comment in comments %}
        <li>
            <span class="comment">
                <strong>{{ comment[2] }}</strong>: {{ comment[1] }}
            </span>
        </li>
    {% endfor %}
</ul>

<form action="/posts/{{ post[0] }}/comment" method="post">
    <input type="text" name="content" placeholder="댓글을 입력하세요" required>
    <button type="submit">등록</button>
</form>
<br>
<br>
  <a href="/posts" class="btn-link">목록으로 돌아가기</a>
{% endblock %}